<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Message -->
<p class="message"><%= message %></p>

<%# messages() %>

<!-- Inventory Items Display -->
<%- grid %>